<section class="sec-about flex flex-column max-w-full py-0 px-2 md:px-0 md:py-0 m-0 m-auto">
  <!--One-->
  <div class="vision-about grid mb-3">
    <div class="col-12 md:col-6">
      <img src="./assets/tatuajes/tatuaje-pj2.jpg" alt="vision-about" style="width: 100%; height: 100%; object-fit: cover;">
    </div>
    <div class="col-12 md:col-6 flex flex-column justify-content-center">
      <h2 class="text-xl md:text-5xl text-left font-bold py-1 px-1 md:px-3 md:py-2">"Arte bajo la Piel" evoca la idea de la profundidad y la belleza
        intrínseca que reside en cada tatuaje..
      </h2>
      <p class="text-lg md:text-4xl m-0 text-center line-height-1 font-medium font-italic py-1 px-1 md:px-3 md:py-2">
        "En Arte bajo la Piel, nuestra visión es convertir cada tatuaje en una experiencia
        artística única y significativa. Creemos que la piel es un lienzo sagrado donde el
        arte cobra vida. Nuestro objetivo es fusionar la pasión por el diseño creativo con
        la destreza técnica, garantizando que cada obra de arte tatuada sea una expresión personal
        que perdure para siempre.
      </p>
    </div>
  </div>
  <!--Two-->
  <div class="ask-about grid mb-3">
    <h2 class="col-12 text-xl md:text-5xl m-0 text-center font-bold py-1 px-1 md:px-3 md:py-2 mx-0 my-0 md:mb-5">¿Por qué elegimos tatuar?</h2>
    <p class="col-12 text-lg md:text-4xl m-0 text-center font-italic line-height-1 font-light md:font-medium py-1 px-1 md:px-3 md:py-2">
      Elegimos tatuar porque buscamos expresar nuestra identidad, nuestras experiencias, creencias o sentimientos
      de una manera artística y permanente. Los tatuajes nos permiten llevar con orgullo algo significativo en
      nuestra piel, sirviendo como una forma de arte personalizada y única que puede contar historias, honrar
      recuerdos o representar nuestra individualidad de una manera visual y duradera. En Arte bajo la Piel, no solo
      creamos tatuajes, sino que también cultivamos conexiones duraderas a través del arte grabado en la piel.
    </p>
  </div>
  <!--Three
  <div class="imgs-presentation-about">
    <mat-grid-list cols="4" rowHeight="450px" class="mobile-cols-1">
        <mat-grid-tile *ngFor="let tile of tiles; trackBy: trackByFn" [colspan]="tile.cols" [rowspan]="tile.rows">
          <img [src]="tile.image" alt="Dynamic Image" style="width: 100%; height: 100%; object-fit: cover;">
        </mat-grid-tile>
    </mat-grid-list>
  </div>-->

  <div class="galery-about grid">
    <div class="col-12 md:col-6 lg:col-3" *ngFor="let tile of tiles">
      <img [src]="tile.image" alt="Dynamic Image" style="width: 100%; height: 100%; object-fit: cover;">
    </div>
</div>
</section>
