<div *ngIf="tato" class="product w-18rem h-auto flex flex-column align-items-center p-2 border-round-sm gap-2" style="background-color: #303436;">
  <div class="content-img h-19rem w-full">
    <img [src]="tato | tatoImage" [alt]="tato.title" style="width: 100%; height: 100%; object-fit: cover;">
  </div>

  <div class="w-full">
    <div class="w-full text-xl mt-1 mb-1">
      {{ tato.title }}
    </div>
    <div class="w-full surface-overlay text-lg p-1 m-0 white-space-nowrap overflow-hidden text-overflow-ellipsis">
      {{ tato.description }}
    </div>
    <!--<div class="w-full mt-1 mb-1">
      {{ tato.style }}
    </div>-->
    <div class="w-full mt-1 mb-1">
      ${{ tato.price }}
    </div>
  </div>

  <div class="w-full flex justify-content-start">
    <button mat-stroked-button class="p-3 w-5"
      [routerLink]="['/tatuajes/info', tato._id ]">
        Detalles
      <mat-icon>more_horiz</mat-icon>
    </button>

    <span class="spacer"></span>

    <!--<button mat-stroked-button class="p-3 w-5"
      [routerLink]="['/tatuajes/edit', tato.id]">
      editar
      <mat-icon>more_horiz</mat-icon>
    </button>-->
  </div>

</div>
