<section class="sec-contact max-w-full py-0 px-2 md:px-0 md:py-0 m-0 m-auto">
  <div class="form-contact flex flex-column justify-content-center align-items-center h-screen py-1 px-1 md:px-3 md:py-2">
    <h1>Contacto</h1>
    <h3>Por favor no dude en contactarnos si tiene preguntas o sugerencias.
    </h3>
    <h2>Completa el formulario con tus datos</h2>
    <div class="form-field flex flex-column w-auto md:w-30rem">
      <mat-form-field>
        <mat-label>Nombre*</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Correo electrónico</mat-label>
        <input matInput placeholder="pat@example.com" [formControl]="email" required>
        @if (email.invalid) {
          <mat-error>{{getErrorMessage()}}</mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Número de teléfono</mat-label>
        <input matInput>
        <mat-icon matSuffix>phone</mat-icon>
        <mat-hint>Include area code</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Asunto*</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Mensaje*</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
      <button mat-fab extended color="primary">
        <mat-icon>send</mat-icon>
        Enviar
      </button>
    </div>
  </div>

</section>
