<div class="flex">
  <div class="img-login w-12rem h-20rem md:w-22rem md:h-30rem xl:w-30rem xl:h-30rem">
    <img src="./assets/tatuajes/tatuaje-intro.jpg" alt="ddd" style="width: 100%; height: 100%; object-fit: cover;">
  </div>
  <div class="flex flex-column w-12rem h-20rem md:w-17rem md:h-30rem xl:w-20rem xl:h-30rem align-items-center" style="background-color: #3b1f6f; color: #fbfbff;">
    <h1 class="font-medium text-xl md:text-3xl xl:text-4xl mt-2 ml-2">Registrarse</h1>
    <form (ngSubmit)="register()" #registerForm="ngForm" class="w-full h-15rem md:h-21rem xl:w-full xl:h-23rem flex flex-column justify-content-evenly align-items-center">
      <div class="form-group flex flex-column">
        <label for="firstName">Nombre:</label>
        <input type="text" id="firstName" name="firstName" [(ngModel)]="user.firstName" class="form-control" required>
      </div>
      <div class="form-group flex flex-column">
        <label for="lastName">Apellido:</label>
        <input type="text" id="lastName" name="lastName" [(ngModel)]="user.lastName" class="form-control" required>
      </div>
      <div class="form-group flex flex-column">
        <label for="username">Nombre de usuario:</label>
        <input type="text" id="username" name="username" [(ngModel)]="user.username" class="form-control" required>
      </div>
      <div class="form-group flex flex-column">
        <label for="email">Correo electrónico:</label>
        <input type="email" id="email" name="email" [(ngModel)]="user.email" class="form-control" required>
      </div>
      <div class="form-group flex flex-column">
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" [(ngModel)]="user.password" class="form-control" required>
      </div>
      <button type="submit" mat-button mat-flat-button color="primary" [disabled]="!registerForm.valid">
        <mat-icon>save</mat-icon>
        Registrar
      </button>
      <div class="flex justify-content-end mt-5">
        <a routerLink="/auth/login">Iniciar sesión</a>
      </div>
    </form>
  </div>

</div>
