<section class="sec-home flex flex-column max-w-full py-0 px-2 md:px-0 md:py-0 m-0 m-auto">
  <!-- First div for two mat-card -->
  <div class="first-div flex flex-wrap md:flex-wrap justify-content-center justify-content-around h-full md:h-auto mb-3">
    <mat-card class="intro-card justify-content-center w-full xl:w-5 h-full md:h-auto mb-3">
      <mat-card-title class="text-xl md:text-5xl m-0 text-left font-bold py-1 px-1 md:px-3 md:py-2 mx-0 my-0 md:mb-5">Transformando tu piel en un lienzo de historias</mat-card-title>
      <p class="text-lg md:text-4xl m-0 text-center font-italic line-height-1 font-light md:font-medium py-1 px-1 md:px-3 md:py-2">
        Descubre el arte en cada trazo.
        En nuestro estudio, creamos más que tatuajes; plasmamos tu historia, pasión y estilo en cada diseño.
        Explora nuestra galería única y deja que tu piel cuente tu historia
      </p>
      <p class="text-lg md:text-4xl m-0 text-center font-italic line-height-1 font-light md:font-medium py-1 px-1 md:px-3 md:py-2">
        Sumérgete en un mundo de posibilidades creativas, donde cada trazo cuenta una historia,
        cada detalle tiene un significado y cada tatuaje es una expresión auténtica de ti mismo.
        ¡Déjanos ser parte de tu viaje artístico y hagamos realidad tu visión única en cada línea y sombra!
      </p>
    </mat-card>
    <mat-card class="image-intro-card w-full xl:w-5 h-full md:h-auto mb-3">
      <img src="./assets/tatuajes/tatuaje-intro.jpg" alt="ddd" style="width: 100%; height: 100%; object-fit: cover;">
    </mat-card>
    <mat-card class="image-pj1-card w-full h-full mb-3">
      <img src="./assets/tatuajes/tatuaje-pj1.jpg" alt="Imagen de introducción" style="width: 100%; height: 100%; object-fit: cover;">
    </mat-card>
  </div>
  <!-- Second div for four mat-card -->
  <div class="second-div mb-3">
    <h1 class="title-card text-center text-xl md:text-3xl">El estilo que todos quieren</h1>
    <div class="grid">
      <div class="col-12 md:col-6 lg:col-3">
        <img src="./assets/tatuajes/tatuaje-cl1.jpg" alt="Imagen 1" style="width: 100%; height: 100%; object-fit: cover;">
      </div>
    <!-- Repite esto para las otras imágenes -->
      <div class="col-12 md:col-6 lg:col-3">
        <img src="./assets/tatuajes/tatuaje-cl2.jpg" alt="Imagen 2" style="width: 100%; height: 100%; object-fit: cover;">
      </div>
      <div class="col-12 md:col-6 lg:col-3">
        <img src="./assets/tatuajes/tatuaje-cl3.jpg" alt="Imagen 3" style="width: 100%; height: 100%; object-fit: cover;">
      </div>
      <div class="col-12 md:col-6 lg:col-3">
        <img src="./assets/tatuajes/tatuaje-cl4.jpg" alt="Imagen 4" style="width: 100%; height: 100%; object-fit: cover;">
      </div>
    </div>
  </div>
  <!-- Three div grid images-->
  <div class="three-div flex flex-column justify-content-center h-full md:h-auto mb-3">
    <h1 class="text-center text-xl md:text-3xl">Moda</h1>
    <div class="grid nested-grid h-full md:h-auto mb-3">
      <div class="xl:col-8">
        <div class="grid">
          <div class="col-12 md:h-20rem xl:col-6">
            <img src="./assets/tatuajes/tatuaje-padrehija.jpg" alt="Imagen" class="carousel-image" style="width: 100%; height: 100%; object-fit: cover;">
          </div>
          <div class="col-12 xl:col-6 md:h-20rem">
            <img src="./assets/tatuajes/tatuaje-pato.jpg" alt="Imagen" class="carousel-image" style="width: 100%; height: 100%; object-fit: cover;">
          </div>
          <div class="col-12 h-auto">
            <img src="./assets/tatuajes/tatuaje-rosas.jpg" alt="Imagen" class="carousel-image" style="width: 100%; height: 100%; object-fit: cover;">
          </div>
        </div>
      </div>
      <div class="xl:col-4 h-auto">
        <img src="./assets/tatuajes/tatuaje-sol.jpg" alt="Imagen" class="carousel-image" style="width: 100%; height: 100%; object-fit: cover;">
      </div>
    </div>
    <div class="btn-products flex justify-content-center">
      <a mat-stroked-button href="./tatuajes/product" target="_blank">Ver todo</a>
    </div>
  </div>
</section>

