<div class="grid justify-content-center justify-content-around mb-3 p-1">
  <div class="col-12 md:col-6 mb-3 xl:h-screen md:h-30rem flex flex-column justify-content-center">
    <h1 class="text-left xl:text-4xl md:text-2xl font-bold py-1 px-1 md:px-3 md:py-2 xl:mb-2 md:mb-0">Transformando tu piel en un lienzo de historias</h1>
    <p class="xl:text-2xl md:text-xl text-center font-italic line-height-2 font-light md:font-medium py-1 px-1 md:px-3 md:py-2 m-0">
      Descubre el arte en cada trazo.
      En nuestro estudio, creamos más que tatuajes; plasmamos tu historia, pasión y estilo en cada diseño.
      Explora nuestra galería única y deja que tu piel cuente tu historia
    </p>
    <p class="xl:text-2xl md:text-xl text-center font-italic line-height-2 font-light md:font-medium py-1 px-1 md:px-3 md:py-2 xl:mt-2 md:mt-0">
      Sumérgete en un mundo de posibilidades creativas, donde cada trazo cuenta una historia,
      cada detalle tiene un significado y cada tatuaje es una expresión auténtica de ti mismo.
      ¡Déjanos ser parte de tu viaje artístico y hagamos realidad tu visión única en cada línea y sombra!
    </p>
  </div>
  <div class="col-12 md:col-6 xl:h-screen md:h-30rem mb-3">
    <img src="./assets/tatuajes/tatuaje-intro.jpg" alt="ddd" style="width: 100%; height: 100%; object-fit: cover;">
  </div>
  <div class="col-12 h-screen mb-3">
    <img src="./assets/tatuajes/tatuaje-pj1.jpg" alt="Imagen de introducción" style="width: 100%; height: 100%; object-fit: cover;">
  </div>
</div>
<h1 class="title-card text-center text-xl md:text-3xl">El estilo que todos quieren</h1>
<div class="grid p-2 mb-3">
<div class="col-12 md:col-6 lg:col-3">
  <img src="./assets/tatuajes/tatuaje-cl1.jpg" alt="Imagen 1" style="width: 100%; height: 100%; object-fit: cover;">
</div>
<div class="col-12 md:col-6 lg:col-3">
  <img src="./assets/tatuajes/tatuaje-cl2.jpg" alt="Imagen 2" style="width: 100%; height: 100%; object-fit: cover;">
</div>
<div class="col-12 md:col-6 lg:col-3">
  <img src="./assets/tatuajes/tatuaje-cl3.jpg" alt="Imagen 3" style="width: 100%; height: 100%; object-fit: cover;">
</div>
<div class="col-12 md:col-6 lg:col-3">
  <img src="./assets/tatuajes/tatuaje-cl4.jpg" alt="Imagen 4" style="width: 100%; height: 100%; object-fit: cover;">
</div>
</div>
<h1 class="text-center text-xl md:text-3xl">Moda</h1>
<div class="grid nested-grid p-2 mb-3">
    <div class="xl:col-8">
      <div class="grid">
        <div class="col-12 md:h-20rem xl:col-6">
          <img src="./assets/tatuajes/tatuaje-padrehija.jpg" alt="Imagen" class="carousel-image" style="width: 100%; height: 100%; object-fit: cover;">
        </div>
        <div class="col-12 xl:col-6 md:h-20rem">
          <img src="./assets/tatuajes/tatuaje-pato.jpg" alt="Imagen" class="carousel-image" style="width: 100%; height: 100%; object-fit: cover;">
        </div>
        <div class="col-12 h-auto">
          <img src="./assets/tatuajes/tatuaje-rosas.jpg" alt="Imagen" class="carousel-image" style="width: 100%; height: 100%; object-fit: cover;">
        </div>
      </div>
    </div>
    <div class="xl:col-4 h-auto">
      <img src="./assets/tatuajes/tatuaje-sol.jpg" alt="Imagen" class="carousel-image" style="width: 100%; height: 100%; object-fit: cover;">
    </div>
</div>
<div class="btn-products flex justify-content-center">
<a mat-stroked-button href="./tatuajes/product" target="_blank">Ver todo</a>
</div>

